// Filter button
.filter-btn {
	display: flex;
	align-items: center;
	gap: 14px;

	height: 36px;
	padding: 6px 14px;
	border-radius: 6px;

	color: var(--filter-btn-color);
	background: var(--filter-btn-bg);

	font-size: 1.4rem;
	font-weight: 700;
	line-height: 142.857%;
}

// Like button
.like-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 50px;
	height: 50px;
	border-radius: 50%;

	box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 24px;
		height: 24px;
		padding: 3px 2.503px 3.002px 2.5px;
	}
}
